<a href="https://colab.research.google.com/github/fastai-energetic-engineering/ashrae/blob/master/ASHRAE_energy_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASHRAE Energy Prediction

- toc: true
- branch: master
- badges: true
- comments: true
- categories: [fastai, kaggle]
- image: images/some_folder/your_image.png
- hide: false
- search_exclude: false

In [2]:
#collapse
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [3]:
#collapse
#from fastbook import *
import os
#from google.colab import files
import pandas as pd
import datetime

In [4]:
# Load ASHRAE energy dataset from your google drive
p = 'gdrive/MyDrive/Colab Notebooks/ashrae'
os.chdir(p)

## Joining Tables

Our training data comprised of three tables:
- `building_metadata.csv`
- `weather_train.csv`
- `train.csv`

We need to join the tables. First, let's see what's in the tables.

In [5]:
building = pd.read_csv('data/building_metadata.csv')
weather = pd.read_csv('data/weather_train.csv')
train = pd.read_csv('data/train.csv')

`building` contains the buildings' metadata.

In [6]:
building.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

- `site_id` - Foreign key for the weather files.
- `building_id` - Foreign key for training.csv
- `primary_use` - Indicator of the primary category of activities for the building based on EnergyStar property type definitions
- `square_feet` - Gross floor area of the building
- `year_built` - Year building was opened
- `floor_count` - Number of floors of the building

`weather` contains weather data from the closest meteorological station.

In [7]:
weather.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

- `site_id`
- `air_temperature` - Degrees Celsius
- `cloud_coverage` - Portion of the sky covered in clouds, in oktas
- `dew_temperature` - Degrees Celsius
- `precip_depth_1_hr` - Millimeters
- `sea_level_pressure` - Millibar/hectopascals
- `wind_direction` - Compass direction (0-360)
- `wind_speed` - Meters per second

Finally, `train` contains the target variable, `meter reading`, which represents energy consumption in kWh.

In [8]:
train.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

- `building_id` - Foreign key for the building metadata.
- `meter` - The meter id code. Read as {0: electricity, 1: chilledwater, 2: steam, 3: hotwater}. Not every building has all meter types.
- `timestamp` - When the measurement was taken
- `meter_reading` - The target variable. Energy consumption in kWh (or equivalent).

Apparently there was some issues regarding the timestamps, as noted by [this post](https://www.kaggle.com/c/ashrae-energy-prediction/discussion/115040#latest-667889). The timestamp in the weather and meter reading table were in GMT and local time, respectively. We have to keep this in mind before merging the tables.

Here I wrote a function that can prepare train and test data accordingly.

In [9]:
def prepare_data(type='train'):
    assert type in ['train', 'test']
    
    # read data
    building = pd.read_csv('data/building_metadata.csv')
    weather = pd.read_csv(f'data/weather_{type}.csv')
    data = pd.read_csv(f'data/{type}.csv')

    # convert datetime
    data['timestamp'] = pd.to_datetime(data['timestamp'])

    # adjust timestamp
    timediff = {0:4,1:0,2:7,3:4,4:7,5:0,6:4,7:4,8:4,9:5,10:7,11:4,12:0,13:5,14:4,15:4}
    weather['time_diff']= weather['site_id'].map(timediff)
    weather['time_diff'] = weather['time_diff'].apply(lambda x: datetime.timedelta(hours=x))
    weather['timestamp_gmt'] = pd.to_datetime(weather['timestamp'])
    weather['timestamp'] = weather['timestamp_gmt'] - weather['time_diff']

    # merge table
    data = data.merge(building, on='building_id', how='left')
    data = data.merge(weather, on=['site_id','timestamp'], how='left')

    return data

Let's try this function out!

In [10]:
train = prepare_data('train')
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,time_diff,timestamp_gmt
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0 days 04:00:00,2016-01-01 04:00:00
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0 days 04:00:00,2016-01-01 04:00:00
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0 days 04:00:00,2016-01-01 04:00:00
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0 days 04:00:00,2016-01-01 04:00:00
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,0 days 04:00:00,2016-01-01 04:00:00

That's it! In the next blogpost, I will show how to load this data into FastAI's `dataloaders`.

In [12]:
from fastai.tabular.all import *
cat_names = ['building_id', 'meter', 'site_id', 'primary_use']
#cont_names = ['timestamp', 'square_feet', 'year_built', 'floor_count', 'air_temperature', 'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction', 'wind_speed', 'time_diff', 'timestamp_gmt']
cont_names = ['square_feet', 'year_built', 'floor_count', 'air_temperature', 'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction', 'wind_speed']
procs = [Categorify, FillMissing, Normalize]
dls = TabularDataLoaders.from_df(train.head(64*64), procs=procs, cat_names=cat_names, cont_names=cont_names, 
                                 y_names="meter_reading")

In [13]:
dls.show_batch()
# Why do continuous variables show as boolean!!!

In [14]:
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(10)

In [29]:
learn.show_results()

To do:


1.   Figure out why continuous variables are shown as boolean
2.   Handle dates
3.   Create training and validation sets, rather than using TabularDataLoader