<a href="https://colab.research.google.com/github/fastai-energetic-engineering/ashrae/blob/master/parquet_to_tabular_data_loader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [ ]:
#collapse
import datetime
import os

import pandas as pd
from fastai.tabular.all import *
from fastbook import *

In [ ]:
%cd /content/gdrive/MyDrive/Colab Notebooks/

/content/gdrive/MyDrive/Colab Notebooks

In [ ]:
df = pd.read_parquet("train_combined.parquet.snappy")

In [ ]:
year_fraction = df["timestamp"] - df["timestamp"].iloc[0]

In [ ]:
df["year_fraction"] = year_fraction / year_fraction.max()

In [ ]:
cat_names = ["building_id", "site_id", "primary_use"]
cont_names = [
    "year_fraction",
    "square_feet",
    "year_built",
    "floor_count",
    "air_temperature",
    "cloud_coverage",
    "dew_temperature",
    "precip_depth_1_hr",
    "sea_level_pressure",
    "wind_direction",
    "wind_speed",
]
y_names = ["meter_0", "meter_1", "meter_2", "meter_3"]
procs = [Categorify, FillMissing, Normalize]

In [ ]:
dls = TabularDataLoaders.from_df(
    df=df,
    procs=procs,
    cat_names=cat_names,
    cont_names=cont_names,
    y_names=y_names,
    shuffle=False
)

In [ ]:
dls.show_batch()

In [ ]:
# Free up some RAM by deallocating the DataFrame
del df